<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="__NUGET_PACKAGES_FOLDER__" />
  </config>
  <packageSources>
    <clear />
    <add key="local" value="__PACKAGE_SOURCE__" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>
