node_modules/
.work/
artifacts/*
!artifacts/packages/
artifacts/packages/*
!artifacts/packages/.gitkeep
dotnet/src/LegacyBlazorJs/wwwroot/*
!dotnet/src/LegacyBlazorJs/wwwroot/autoloader.js
bin/
obj/
*.nupkg
dist/
.vs/
