@inherits LayoutComponentBase

<div class="shell">
    <header class="site-header">
        <a class="brand" href="/">LegacyBlazorJs</a>
    </header>

    <main class="site-main">
        @Body
    </main>
</div>
