@inherits LayoutComponentBase
<div class="shell">
    <div class="shell-body">
        <main class="site-main">
            @Body
        </main>
    </div>
    <div class="shell-footer">
        <p>
            Copyright &copy; 2026- <a href="https://eclairs.cc">arika0093</a>. All rights reserved. /
            Running on .NET: @GetDotNetVersion(), LegacyBlazorJs: @GetLegacyBlazorJsVersion()
        </p>
    </div>
</div>

@code {
    private static readonly Lazy<string> LegacyBlazorJsVersion = new(ResolveLegacyBlazorJsVersion);

    private string GetDotNetVersion() => System.Environment.Version.ToString();
    private string GetLegacyBlazorJsVersion() => LegacyBlazorJsVersion.Value;

    // dynamically resolve the version of the LegacyBlazorJs package from the dependency manifest files, so that we can display it in the footer.
    private static string ResolveLegacyBlazorJsVersion()
    {
        var depsFiles = ((string?)AppContext.GetData("APP_CONTEXT_DEPS_FILES"))?
            .Split([';', System.IO.Path.PathSeparator], StringSplitOptions.RemoveEmptyEntries | StringSplitOptions.TrimEntries)
            ?? throw new InvalidOperationException("Could not locate dependency manifest files.");

        foreach (var depsFile in depsFiles)
        {
            using var depsStream = System.IO.File.OpenRead(depsFile);
            using var depsDocument = System.Text.Json.JsonDocument.Parse(depsStream);

            if (!depsDocument.RootElement.TryGetProperty("libraries", out var libraries))
            {
                continue;
            }

            foreach (var library in libraries.EnumerateObject())
            {
                const string packageName = "LegacyBlazorJs";
                var separatorIndex = library.Name.LastIndexOf('/');
                if (separatorIndex <= 0)
                {
                    continue;
                }

                if (library.Name[..separatorIndex].Equals(packageName, StringComparison.OrdinalIgnoreCase))
                {
                    return library.Name[(separatorIndex + 1)..];
                }
            }
        }

        throw new InvalidOperationException("Could not resolve the LegacyBlazorJs package version from the dependency manifest.");
    }
}