@page "/redirect-target"

<PageTitle>Redirect Target</PageTitle>

<section class="content-card simple-card">
    <h1>Redirected.</h1>
    <p>This is the destination page.</p>
    <p>
        We no longer need this page, so let's go <a href="javascript:history.back();">back</a>.
    </p>
</section>
